/*Barra de búsqueda*/
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #333;
    border-radius: 10px;
}


nav li a {
    display: block;
    color: white;
    padding: 20px 20px;
    font-family: Arial Black;
    font-size: 20px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #555;
}
/************************/
/*Contenedor de las tres tarjetas*/
.contenedorA{
    background-color: #2C1A0B;
    padding: 5px;
    border-radius: 10px;
    font-size: 40px;
    color: white;
}
.contenedorB{
    display: flex;
    background-color: lightgray;
    padding: 50px;
    border-radius: 10px;

}
.columna1{
    flex: 2;
    padding: 50px;
}
.columna2{
    flex: 1;
    padding: 20px;
    align-content: center;
}
/*Contenedor de productos*/
.contenedorC{
    display: flex;
    padding: 5px;
    border-radius: 10px;    
}
.contenedorP1{
    flex: 1;
    padding: 50px;
    background-color: rgba(255, 204, 213, 0.7);
    align-content: center;
    text-align: center;
    border-radius: 30px;
}
.contenedorP2{
    flex: 1;
    padding: 5opx;
    background-color: rgba(184, 242, 214, 0.7);
    align-content: center;
    text-align: center;
    border-radius: 30px;
}
.contenedorP3{
    flex: 1;
    padding: 50px;
    background-color: rgba(173, 216, 230, 0.7);
    align-content: center;
    text-align: center;
    border-radius: 30px;
}
.contenedorP4{
    flex: 1;
    padding: 50px;
    background-color: rgba(255, 218, 193, 0.7);
    align-content: center;
    text-align: center;
    border-radius: 30px;
}
.borde-letras {
    font-weight: bold;
    color: white; /* Color del relleno de la letra */
    
    /*borde:2 píxeles de grosor y color negro */
    -webkit-text-stroke: 2px #000000; 
}
/************************/

.logo{
    width: 400px;
    height: auto;
}

/* fuentes */
body, p {
    font-family: 'Inter', sans-serif;
    font-weight: 400; /* Grosor normal, se ve muy limpio */
    line-height: 1.6; /* Aumentar el interlineado hace el texto más aireado y suave */
}

/* Para los títulos de tus tarjetas */
h1, h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}
